@inherits System.Web.Mvc.WebViewPage<Scrumr.Web.MainSite.ReadModel.Sprint>

@{
    View.Title = "Scrumboard for " + Model.Name;
    LayoutPage = "~/Views/Shared/_Layout.cshtml";
}

@section header
{
	<script type="text/javascript" src="../../Scripts/ScrumBoard.js"></script>
	<script type="text/javascript">
		initBoard("@Model.ProjectId", "@Model.Id");
	</script>
}
    <h2>Scrumboard for @Model.Name</h2>
	 <table id="board">
        <thead>
            <tr>
                <th>
                    Stories
                </th>
                @foreach (var stage in Model.Stages)
                {
                <th>
                    @stage.Name
                </th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (var story in Model.Stories)
            {
            <tr class="story-row">
                <td>
                    @story.Description
                </td>
                @foreach (var stage in Model.Stages)
                {
                <td id="@story.Id|@stage.Id" class="storystage">
                    @foreach (var task in story.Tasks.Where(t => t.Stage.Id == stage.Id))
                    {
                    <div class="task ui-widget-content ui-corner-tr">
                        <h5 class="ui-widget-header">
                            Task</h5>
							<p class="description">@task.Description</p>
                    </div>
                    }
                </td>
                } 
            </tr>
            } 
			<tr class="story-row new-story-row">
				<td>
					<div id="new-story-container">Click for new</div>
				</td>
				@for(int i = 0; i < Model.Stages.Count; i++)
				{
				<td />
				}
			</tr>
        </tbody>
    </table>
	<div id="new-story-dialog" title="Create new user">
		<form>
			<input type="text" name="description" id="description" class="text ui-widget-content ui-corner-all" />
		</form>
	</div>
	<div id="new-task" class="task ui-widget-content ui-corner-tr">
		<h5 class="ui-widget-header">New Task</h5>
        <i>Click to add new task</i>
    </div>
	<div id="new-task-dialog" title="Add new task">
		<form>
			<textarea name="description" id="description" class="text ui-widget-content ui-corner-all"></textarea>
			<button id="new-task-ok">Ok</button>
			<button id="new-task-cancel">Cancel</button>
		</form>
	</div>
	<div id="new-task-prototype" class="task ui-widget-content ui-corner-tr">
		<h5 class="ui-widget-header">Task</h5>
		<p class="description"></p>
    </div>