@inherits System.Web.Mvc.WebViewPage<Scrumr.Web.MainSite.ReadModel.Sprint>

@{
    View.Title = "Scrumboard for " + Model.Name;
    LayoutPage = "~/Views/Shared/_Layout.cshtml";
}

@section header
{
	<script type="text/javascript" src="../../Scripts/ScrumBoard.js"></script>
	<script type="text/javascript">
		initBoard("@Model.ProjectId", "@Model.Id");
	</script>
}
    <h2>Scrumboard for @Model.Name</h2>
	 <table id="board">
        <thead>
            <tr>
                <th>
                    Stories
                </th>
                @foreach (var stage in Model.Stages)
                {
                <th>
                    @stage.Name
                </th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (var story in Model.Stories)
            {
            <tr>
                <td>
                    @story.Description
                </td>
                @foreach (var stage in Model.Stages)
                {
                <td class="storystage">
                    @foreach (var task in story.Tasks.Where(t => t.Stage.Id == stage.Id))
                    {
                    <div class="task ui-widget-content ui-corner-tr">
                        <h5 class="ui-widget-header">
                            Task</h5>
							@task.Description
                    </div>
                    }
                </td>
                } 
            </tr>
            } 
			<tr class="new-story-row">
				<td>
					<div id="new-story-container">Click for new</div>
				</td>
				@for(int i = 0; i < Model.Stages.Count; i++)
				{
				<td />
				}
			</tr>
        </tbody>
    </table>
	<div id="new-story-dialog" title="Create new user">
		<p class="validateTips">All form fields are required.</p>

		<form>
		<fieldset>
			<label for="description">description</label>
			<input type="text" name="description" id="description" class="text ui-widget-content ui-corner-all" />
		</fieldset>
		</form>
	</div>